doctype html
html(lang="en")
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title MQ apps on CodeEngine
  body
    h1 MQ App : CodeEngine
    p   Hello from MQ App v 003
