extends layout

block content
  body
    h1 MQ Put App : CodeEngine
    p   Put status : &nbsp;
      span#status
    p   #{status}
    form
      div
        span.label Message:
        input#message(type='text' name='message')
        span.label Quantity:
        input#quantity(type='number' name='quantity')
      div
        button#mqputbutton(type='submit') Send
